<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset='utf-8'>
    <title>Document</title>
</head>
<body>
    <h1><%= travel.name %></h1>
    <p>여행지 ID: <%= travel.id %></p>
    <p>여행지 이름: <%= travel.name %></p>
</body>
</htm>